*{margin:0;padding:0;box-sizing:border-box;font-family:'Segoe UI',sans-serif;}
body{
    background: linear-gradient(135deg,#44310d,#ffd700);
    display:flex;justify-content:center;align-items:center;height:100vh;
}
.container{
    background: rgba(255,255,255,0.9);
    width: 375px;
    padding:50px;
    border-radius:30px;
    text-align:center;
    box-shadow:0 0 20px rgba(0,0,0,0.2);
}
.title{
    font-size:2.5em;
    margin-bottom:20px;
    background: linear-gradient(90deg,#000000,#000000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: none;
    animation: blink 1.5s infinite;
}
@keyframes blink{
    0%,50%,100%{opacity:1;}
    25%,75%{opacity:0.7;}
}
input, select{
    width: 250px;
    padding: 10px;
    margin:10px 10px 20px 0;
    border-radius:10px;
    border:none;
    font-size:1em;
}
button{
    padding:10px 25px;
    margin-top:10px;
    border:none;
    border-radius:20px;
    background: gold;
    color:#000;
    font-weight:bold;
    cursor:pointer;
    transition:0.3s;
}
button:hover{
    box-shadow:0 0 15px gold;
    transform: scale(1.05);
}
